{% extends 'main.html' %}
{% load static %}
{% block title %}Subir post{% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script defer src="{% static 'js/main.js' %}"></script>
{% endblock  %}
{% block main %}
    <main class="create">
        <div class="loader-page">
            <img src="{% static 'sources/logos/LogoMain.svg' %}" alt="CuevaTomasArg">
        </div>
        <nav>
            <div>
                <a href="{% url 'index' %}">Inicio</a><span>/</span><a href="{% url 'search' %}">Subir post</a>
            </div>
        </nav>
        
    </main>
{% endblock %}