{% extends 'tomasteawita/templates/base.html' %}
{% load static %}
{% block header %}
    <a href="{% url 'search' %}">
        <button>Explorar</button>
    </a>
    <a href="{% url 'upload post' %}">
        <button>Subir un post</button>
    </a>
    <a href="{% url 'Login' %}">
        <button>Iniciar Sesion</button>
    </a> 
    <a href="{% url 'sing in' %}">
        <button>Registrarse</button>
    </a> 
    <a href="{% url 'Logout' %}">
        <button>Cerrar sesion</button>
    </a> 
{% endblock  %}