{% extends 'main.html' %}
{% load static %}
{% block title %}Post - Tomasteawita{% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script defer src="{% static 'js/main.js' %}"></script>
{% endblock  %}
{% block main %}
    <main class="search">
        <nav class="navigation">
            <div>
                <a href="{% url 'index' %}">Inicio</a><span>/</span><a href="{% url 'search' %}">Explorar</a>
            </div>
        </nav>
        <section class="research">
            <form action="" method="get">
                {% for cat in show_category_buttons %}
                    <button>
                        {{cat}}
                    </button>
                {% endfor %}
                <label for="category">Buscar por categoria</label>
                <input type="text" name="category" id="category">
                <input type="submit" value="Buscar">
            </form>
        </section>
        <section class="view-post">
            {% if posts %}
                {% for post in posts %}
                    <article class="Tcard">
                        <img src="{{post.image.url}}" alt="">
                        <div>
                            <strong>{{post.title}}</strong>
                            <p>
                                {{post.description}}
                            </p>
                            <p>
                                <span>By: </span><a href="">{{post.user}}</a>
                            </p>
                        </div>
                        <button>
                            Leer articulo
                        </button>
                    </article>
                {% endfor %}
            {% else%}
                {% for post in show_category %}
                    <article class="Tcard">
                        <img src="{{post.image.url}}" alt="">
                        <div>
                            <strong>{{post.title}}</strong>
                            <p>
                                {{post.description}}
                            </p>
                            <p>
                                <span>By: </span><a href="">{{post.user}}</a>
                            </p>
                        </div>
                        <button>
                            Leer articulo
                        </button>
                    </article>
                {% endfor %}
            {% endif %}
        </section>
    </main>
{% endblock %}