{% extends 'main.html' %}
{% load static %}
{% block title %}Subir post{% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script defer src="{% static 'js/main.js' %}"></script>
{% endblock  %}
{% block main %}
    <main class="upload-post">
        <nav class"navigation">
            <div>
                <a href="{% url 'index' %}">Inicio</a><span>/</span><a href="{% url 'upload post' %}">Subir post</a>
            </div>
        </nav>
        <section>
            <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}

                <h3>Subir un post</h3>
            
                <ul>
                    {{form.as_ul}}
                </ul>
            
                <button type="submit" value="Enviar">Enviar</button>
            </form>
            
        </section>
        
    </main>
{% endblock %}