@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,700&display=swap');
@import "base/vars";
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    background-color: lighten($fondo, 3%);
}
a{
    text-decoration: none;
    // color:$a
}
main{
    z-index: 10;
}
p,label{
    color: $parrafos;
    font-family: $font-texto;
}
h1,h2,h3,h4,h5,h6{
    font-family: $font-boton;
}
h1{
   color: nth($colores, 1 )
}
ul{
    list-style-type: none;
}
hr{
    background-color: $parrafos
}
.navigation{
    background-color: lighten($fondo, 8%);
    height: 64px;
    >div{
        height: 100%;
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 256px;
        justify-content: flex-start;
        span{
            // color: $a;
            margin: 4px;
        }
        a{
            text-decoration: underline;
        }
    }
}
@import "main/loader";
@import "main/search";
@import "main/header";
@import "main/index";
@import "main/postValid";
@import "main/singIn";
@import "main/footer";
@import "main/cards";
@import "main/login";
@import "main/uploadPost"