@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,700&display=swap');
@import "base/vars";
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background-color: lighten($fondo, 3%) ;
}
main{
    margin-top: 128px;
}
a{
    text-decoration: none;
    color:$a
}
p,label{
    color: $parrafos;
    font-family: $font-texto;
}
h1,h2,h3,h4,h5,h6{
    font-family: $font-boton;
}
h1{
    color: nth($colores, 1 )
}
ul{
    list-style-type: none;
}
hr{
    background-color: $parrafos
}
@import "main/loader";
@import "main/search";
@import "main/header";
@import "main/index";
@import "main/createpost";
@import "main/singIn";
@import "main/footer";
@import "main/cards";