@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,700&display=swap');
@import "base/vars";
@import "partials/extends";
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    background-color: lighten($fondo, 3%);
}
a,strong{
    text-decoration: none;
    color:$a
}
main{
    z-index: 10;
}
p,label{
    color: $parrafos;
    font-family: $font-texto;
}
h1,h2,h3,h4,h5,h6{
    font-family: $font-boton;
}
h1{
   color: nth($colores, 1 )
}
h2{
    color:nth($colores, 2 )
}
ul{
    list-style-type: none;
}
hr{
    background-color: $parrafos
}
.navigation{
    background-color: lighten(nth($colores,2), 8%);
    height: 64px;
    >div{
        height: 100%;
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 256px;
        justify-content: flex-start;
        span{
            // color: $a;
            margin: 4px;
        }
        a{
            text-decoration: underline;
        }
    }
}

.writeAnimation{
    font-weight: bold;
    animation: writing 3s ease infinite;
}

@keyframes writing {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0
    }
    
}
@import "main/loader";
@import "main/search";
@import "main/header";
@import "main/index";
@import "main/postValid";
@import "main/singIn";
@import "main/footer";
@import "main/cards";
@import "main/login";
@import "main/uploadPost";
@import "main/logout";
@import "main/detailPost";
@import "main/detailUser";
@import "main/delete";
@import "main/editPost";
@import "main/avatar";
.user-detail-card{
    text-align: center;
    background-color: darken($fondo,5%);
    border-right: 2px solid darken($fondo,30%);
    width: 100%;
    img{
        border-radius: 50%;
        height: 256px;
        width: 256px;
        margin: 64px auto;
        object-fit: cover;
    }
}