
$fondo-cartas : darken(#E5EBF1,5%);
$fondo:#E5EBF1;
$fondo-offcanvas:#1A5784;
$colores:#A8C2DC,darken(#A8C2DC,5%);
$parrafos:#1A5784;
// $a:#C2B8D0;
$fondo-botones:#A8C2DC;
$borde-botones:#1A5784;
// $fondo-inputs:#130A1F;
$font-boton:Helvetica;
$font-texto:'Roboto','Quicksand',sans-serif;
$font-H:'Roboto Flex', sans-serif;




$f-tiny:1rem;
$f-small:1.6rem;
$f-regular:2rem;
$f-big:2.5rem;
$f-bold:3rem;

@media only screen and (max-width:600px){
    $f-tiny:1rem - .4;
    $f-small:1.6rem - .4;
    $f-regular:2rem - .4;
    $f-big:2.5rem - .6;
    $f-bold:3rem - .6;
}