@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eff3f6;
}

a, strong {
  text-decoration: none;
  color: #719cc6;
}

main {
  z-index: 10;
}

p, label {
  color: #1A5784;
  font-family: "Roboto", "Quicksand", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica;
}

h1 {
  color: #A8C2DC;
}

h2 {
  color: #96b5d5;
}

ul {
  list-style-type: none;
}

hr {
  background-color: #1A5784;
}

.navigation {
  background-color: #b3cae0;
  height: 64px;
}
.navigation > div {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 256px;
  justify-content: flex-start;
}
.navigation > div span {
  margin: 4px;
}
.navigation > div a {
  text-decoration: underline;
}

.writeAnimation {
  font-weight: bold;
  animation: writing 3s ease infinite;
}

@keyframes writing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loader-page {
  position: fixed;
  z-index: 25000;
  background: #f6f8fa;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.loader-page::before {
  content: "";
  position: absolute;
  border: 2px solid #1e6599;
  width: 256px;
  height: 256px;
  padding: 4px;
  border-radius: 50%;
  box-sizing: border-box;
  border-left: 2px solid rgba(50, 150, 176, 0);
  border-top: 2px solid rgba(50, 150, 176, 0);
  animation: rotarload 1.5s linear infinite;
  transform: rotate(0deg);
}
.loader-page::after {
  content: "";
  position: absolute;
  border: 2px solid #1A5784;
  width: 256px;
  height: 256px;
  padding: 4px;
  border-radius: 50%;
  box-sizing: border-box;
  border-left: 2px solid rgba(50, 150, 176, 0);
  border-top: 2px solid rgba(50, 150, 176, 0);
  animation: rotarload 1.5s ease-out infinite;
  transform: rotate(0deg);
}
.loader-page img {
  width: 25%;
  height: 25%;
}

@keyframes rotarload {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.search .research form {
  display: flex;
  flex-direction: column;
}
.search .research form p {
  text-align: center;
  margin: 4px auto;
}
.search .research form > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search .research form > div > button, .search .research form > div a {
  background: #dfe8f2;
  border-radius: 6px;
  padding: 6px;
  margin: 24px;
  border: 1px solid #1A5784;
  color: #1A5784;
}

header {
  height: 116px;
  background: linear-gradient(#16496f, #1A5784);
}
header nav {
  height: 98px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}
header nav > a img {
  height: 72px;
  margin: auto 72px;
}
header nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 32px 12px 0px auto;
}
header nav > ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header nav > ul li .search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header nav > ul li .search-bar input {
  background-color: white;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  color: #1A5784;
  text-align: start;
  padding: 12px;
}
header nav > ul li .search-bar button {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  background-color: white;
  width: 32px;
  color: #1A5784;
  border: 1px solid #1A5784;
}
header nav > ul li .search-bar input, header nav > ul li .search-bar button {
  height: 32px;
  border: 1px solid #1A5784;
}
header nav > ul li > form, header nav > ul li > div {
  margin: auto 18px;
}
header nav > ul li a {
  display: inline-block;
  font-family: "Roboto", "Quicksand", sans-serif;
  color: #1A5784;
  text-decoration: underline;
  transition: 0.5s;
  margin: auto 12px;
}
header nav > ul li a button {
  font-size: 1rem;
  background-color: #A8C2DC;
  border: 1px solid #1A5784;
  border-radius: 6px;
  width: 128px;
  height: 52px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  color: #1A5784;
  transition: all 0.3s;
}
header nav > ul li a button:hover {
  background-color: #ccdceb;
}
header nav > ul li a button:active {
  background-color: #f1f5f9;
}

.index .presentation {
  position: relative;
  height: 600px;
  margin-top: 0;
  background: #16496f;
}
.index .presentation div:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  opacity: 0.4;
}
.index .presentation div:first-child > img {
  object-fit: cover;
  width: 100%;
  height: 600px;
}
.index .presentation div:last-child {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.index .presentation div:last-child > h1 {
  color: #ccdceb;
  font-weight: 700;
}
.index .presentation div:last-child p {
  color: #ccdceb;
  font-weight: 700;
  width: 600px;
  font-size: 1.6rem;
}

.view-post {
  margin: 1rem auto;
  width: 100%;
  max-width: 1775px;
  column-count: 5;
}
.view-post .Tcard {
  break-inside: avoid;
  page-break-inside: avoid;
  margin: 16px;
}
.view-post .Tcard img {
  width: 90%;
}

.check {
  height: 100vh;
  background-color: #eff3f6;
}
.check h1 {
  position: absolute;
  top: 40%;
  left: 40%;
}
.check p {
  transform: rotate(90deg);
  position: absolute;
  top: 45%;
  left: 50%;
}

.singIn {
  background-color: white;
  height: 100vh;
}
.singIn section {
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}
.singIn section img {
  margin: auto 0px auto auto;
  height: 256px;
}
.singIn section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: auto auto auto 156px;
  border-radius: 16px;
  background-color: #96b5d5;
  padding: 24px;
}
.singIn section form h3 {
  color: #1A5784;
}
.singIn section form ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.singIn section form ul li input {
  border-radius: 4px;
  border: 2px solid #f6f8fa;
  background-color: white;
}
.singIn section form button {
  border-radius: 24px;
  border: 1.5px solid #1A5784;
  background-color: #5f8fbf;
  height: 32px;
  width: 128px;
}
.singIn section form button:hover {
  border-color: #1e6599;
  background-color: #4376a8;
}
.singIn section form button:active {
  border-color: #2273af;
  background-color: #355c83;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #1A5784;
  margin-top: 128px;
  padding-top: 16px;
  height: 256px;
  background-color: #eff3f6;
}
footer nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer nav ul li {
  margin: 12px 32px;
}
footer nav ul li a {
  color: #1A5784;
}
footer hr {
  width: 70%;
  margin: auto 4px;
}
footer div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer div p {
  color: #1A5784;
}

.Tcard {
  text-align: center;
  border-radius: 24px;
  background: #96b5d5;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 10px 5px #ccdceb;
  -webkit-box-shadow: 5px 5px 10px 5px #ccdceb;
  -moz-box-shadow: 5px 5px 10px 5px #ccdceb;
}
.Tcard.Tcard-carousel {
  height: auto;
  display: inline-block;
  width: min-content;
  padding: 32px;
  width: 100%;
  padding: 24px;
  height: 100%;
  flex: 1 0 100%;
}
.Tcard.Tcard-carousel img {
  max-width: 300px;
  height: 60%;
  object-fit: cover;
}
.Tcard.Tcard-carousel:not(.Tcard.Tcard-carousel:last-child) {
  margin-right: 24px;
}
.Tcard img {
  border-radius: 16px;
  margin: 12px auto;
}
.Tcard div {
  width: 90%;
}

.login {
  height: 100vh;
  background-color: #E5EBF1;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
}
.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.login form ul {
  background-color: #A8C2DC;
  border-radius: 16px;
  padding: 24px;
  list-style-type: none;
}
.login form ul li {
  display: flex;
  flex-direction: column;
  height: 64px;
  margin: 64px 32px;
}
.login form ul li input {
  width: 256px;
}
.login form button {
  background-color: transparent;
  border: 1.5px solid #a3b8cd;
  color: #a3b8cd;
  border-radius: 32px;
  padding: 4px;
  transition: all 0.35s;
}
.login form button:hover {
  color: #E5EBF1;
  background-color: #a3b8cd;
}
.login form button:active {
  background-color: #c4d2df;
}
.login section {
  height: 100%;
  text-align: center;
  width: 100%;
}
.login section div {
  height: 100%;
}
.login section .image-carousel-tomasteawita {
  height: 100%;
  width: auto;
  object-fit: cover;
  overflow: hidden;
  opacity: 0.9;
}

.upload-post section {
  text-align: center;
  height: 100%;
}
.upload-post section form {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.upload-post section form ul {
  height: 100%;
  width: 100%;
  padding: 0;
}
.upload-post section form ul li {
  display: flex;
  flex-direction: column;
}
.upload-post section form ul li label {
  font-size: 2rem;
  margin: 4px auto 4px 400px;
}
.upload-post section form ul li input {
  background-color: transparent;
  border-bottom: 1.5px solid #1A5784;
  border-right: none;
  border-left: none;
  border-top: none;
  margin: 12px auto;
  width: 800px;
  color: #1A5784;
  padding: 4px;
}
.upload-post section form ul li textarea {
  resize: none;
  height: 600px;
  background-color: transparent;
  border: 1.5px solid #1A5784;
  margin: 12px auto;
  width: 800px;
  color: #1A5784;
  padding: 4px;
}
.upload-post section form ul li:nth-child(1) input {
  color: #1A5784;
}
.upload-post section form ul li:nth-child(4), .upload-post section form ul li:nth-child(5), .upload-post section form ul li:nth-child(7) {
  display: none;
}
.upload-post section form button {
  background-color: #1A5784;
  border-radius: 4px;
  color: #E5EBF1;
  padding: 4px;
  width: 64px;
  border: 1px solid #1A5784;
}

.preview {
  display: block;
  height: 600px;
  background-color: black;
}
.preview img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.selectImageButton {
  position: absolute;
  top: 732px;
  left: 128px;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  font-size: 32px;
  background-color: #A8C2DC;
  color: #1A5784;
  border: 1px solid #A8C2DC;
}

.logout {
  text-align: center;
}
.logout h1 {
  margin: 256px auto 32px auto;
}
.logout p {
  font-size: 1.6rem;
}

.detailPost section:first-child img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.detailPost section:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  justify-items: stretch;
  align-items: flex-start;
  text-align: center;
}
.detailPost section:nth-child(2) article {
  text-align: center;
  width: 90%;
  margin: 64px auto;
}
.detailPost section:nth-child(2) article p {
  text-align: start;
  width: 80%;
  margin: 24px auto;
}
.detailPost .form-coments {
  text-align: center;
}
.detailPost .form-coments form {
  text-align: center;
}
.detailPost .form-coments form ul li:not(:first-child) {
  display: none;
}

.detail-user section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: flex-start;
  text-align: center;
}
.detail-user section div > a button {
  background-color: #1e6599;
  color: dakren(#E5EBF1, 10%);
}
.detail-user section div .Tcard {
  width: 875px;
}
.detail-user section div .Tcard img {
  width: 80%;
}

.delete {
  height: 100vh;
}
.delete form {
  position: absolute;
  top: 40%;
  left: 25%;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "h1 h1" "button1 button2";
  justify-items: center;
}
.delete form h1 {
  grid-area: h1;
}
.delete form button {
  width: 128px;
  height: 64px;
  margin-top: 32px;
  border-radius: 32px;
  font-size: 1rem;
}
.delete form button:first-child {
  grid-area: button1;
}
.delete form button:last-child {
  grid-area: button2;
}
.delete form .cancel {
  border: 1px solid #A8C2DC;
  background-color: #eff3f6;
  color: #A8C2DC;
}
.delete form .delete {
  border: 1px solid #A8C2DC;
  background-color: #A8C2DC;
  color: #eff3f6;
}

.edit-post section {
  text-align: center;
  height: 100%;
}
.edit-post section form {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.edit-post section form ul {
  height: 100%;
  width: 100%;
  padding: 0;
}
.edit-post section form ul li {
  display: flex;
  flex-direction: column;
}
.edit-post section form ul li label {
  font-size: 2rem;
  margin: 4px auto 4px 400px;
}
.edit-post section form ul li input {
  background-color: transparent;
  border-bottom: 1.5px solid #1A5784;
  border-right: none;
  border-left: none;
  border-top: none;
  margin: 12px auto;
  width: 800px;
  color: #1A5784;
  padding: 4px;
}
.edit-post section form ul li textarea {
  resize: none;
  height: 600px;
  background-color: transparent;
  border: 1.5px solid #1A5784;
  margin: 12px auto;
  width: 800px;
  color: #1A5784;
  padding: 4px;
}
.edit-post section form ul li:nth-child(1) input {
  color: #1A5784;
}
.edit-post section form ul li:nth-child(4), .edit-post section form ul li:nth-child(5) {
  display: none;
}
.edit-post section form button {
  background-color: #1A5784;
  border-radius: 4px;
  color: #E5EBF1;
  padding: 4px;
  width: 64px;
  border: 1px solid #1A5784;
}

.user-detail-card {
  text-align: center;
  background-color: #d4dee8;
  border-right: 2px solid #829fbb;
  width: 100%;
}
.user-detail-card img {
  border-radius: 50%;
  height: 256px;
  width: 256px;
  margin: 64px auto;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
