.detail-user{
    section{
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: flex-start;
        text-align: center;;
        div{
            >a{
                display: inline-block;
                @extend %button-fille-in;
                padding: 4px;
                margin: 16px auto;
                span{
                    color: ligthen(nth($colores, 1), 10%);
                }
            }
            }
            .Tcard{
                width: 875px;
                img{
                    width:80%;
                }
            }
        }
    }
