header{
    height: 116px;
    background:linear-gradient(darken($fondo-offcanvas, 5%),$fondo-offcanvas ) ;
    nav{
        height: 98px;
        display: flex;
        flex-direction: row;
        justify-content:space-between ;
        align-items: center;
        padding: 24px;
        >a{
            img{
                height:72px;
                margin: auto 72px;
           }
        }
        >ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 32px 12px 0px auto;
           li{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            @import "searchInput";
            >form,>div{
                margin: auto 18px;
            }
            a{
                display: inline-block;
                font-family: $font-texto;
                color: $parrafos;
                text-decoration:underline;
                transition: .5s;
                margin: auto 12px;
                button{
                    font-size: $f-tiny;
                    background-color: $fondo-botones;
                    border: 1px solid $borde-botones;
                    border-radius: 6px;
                    width: 128px;
                    height: 52px;
                    font-family: $font-H;
                    font-weight: 400;
                    color: $borde-botones;
                    transition: all .3s;
                    &:hover{
                        background-color: lighten($fondo-botones, 10%) ;
                    }
                    &:active{
                        background-color: lighten($fondo-botones, 20%) ;
                    }
                }
            }
           }    
        } 
    }
}

