.index{
    .presentation{
        position: relative;
        height: 600px;
        margin-top: 0;
        background-color: lighten($fondo, 5%);
        div:first-child{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 600px;
            opacity: .4;
            >img{
                object-fit:cover;
                width: 100%;
                height: 600px;
            }
        }
        div:last-child{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            >h1{
                color:lighten(nth($colores,1), 10%);
                font-weight: 700;
            }
            p{
                color: lighten(nth($colores,1), 10%);
                font-weight: 700;;
                width: 600px;
                font-size: $f-small;
            }
        }
    }
    
    .view-post{
        margin: 1rem auto;
        width:100%;
        max-width:1775px;
        column-count: 5;
        .Tcard{
            break-inside: avoid;
            page-break-inside: avoid;
            margin: 16px;
            img{
                width: 90%;
            }
        }
    }
}