.search{
    .research{
        form{
            display: flex;
            flex-direction: column;
            p{
                text-align: center;
                margin: 4px auto;
            }
            >div{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                >button,a{
                    background:lighten(nth($colores,2), 20%) ;
                    border-radius: 6px;
                    padding: 6px;
                    margin: 24px;
                    border: 1px solid $borde-botones;
                    color: $borde-botones;
                }
            }
        }
    }
}