.search{
    >nav{
        background-color: lighten($fondo, 8%);
        height: 64px;
        >div{
            height: 100%;
            width: 60%;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 256px;
            justify-content: flex-start;
            span{
                color: $a;
                margin: 4px;
            }
            a{
                text-decoration: underline;
            }
        }
    }
    .research{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        form{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
    }
}