.search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    input{
        background-color: lighten($fondo, 8%);
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px;
        color: $parrafos;
        text-align: start;
        padding: 12px;
    }
    button{
        border-bottom-right-radius: 12px;
        border-top-right-radius: 12px;
        background-color: lighten($fondo, 8%);
        width: 32px;
        color:$parrafos;
        border:1px solid $borde-botones;
    }
    input,button{
        height: 32px;
        border:1px solid $borde-botones;
    }
}