.singIn{
    background-color:lighten($fondo, 8%);
    height: 100vh;
    section{
        height: 90%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;
        img{
            height: 256px;
        }
        form{
            ul{
                li{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                }
            }
        }
    }
}