{% extends 'main.html' %}
{% load static %}
{% block title %}Home - Tomasteawita{% endblock  %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script defer src="{% static 'js/main.js' %}"></script>
{% endblock  %}
{% block main %}
<main>
    <nav class="navigation">
        <div>
            <span></span><a href=""></a>
        </div>
    </nav>
    <section>
        <aside>
            <article>
                <!--  Aca va la imagen del usuario -->
                <!-- <p>Descripcion del Usuario</p> -->
                <!-- <p>Como se define el usuario</p> -->

            </article>
        </aside>
    </section>
    <section>
        <!-- <aside>Aca va toda la descripcion de la persona que hizo el post, lo que se encuenra en el avatar</aside> -->
        <article>
            <!-- <p>Descripciond dle posteo</p> -->
            <!-- <p>Texto del posteo</p> -->
            <nav>
                <!-- <span>By:</span><a href=""> Aca va el usuario con la url que lo envia hasta el avatar de ese usuario</a> -->
            </nav>
        </article>
    </section>

</main>



{% comment %} Aqui va el contenido principal de la pagina que en este caso al ser una vista detallada de un post.titlel
lo que va a estar aca va a aser el post del detalle osea el posteo del post me entendes pibe o hablo en chino? la re cajeta de tu mamasita bebe uwu
tue eres mi veve mi cecito fui fui {% endcomment %}

{% endblock  %}
{{post.title}}