{% extends 'main.html' %}
{% load static %}
{% block title %}Home - Tomasteawita{% endblock  %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script defer src="{% static 'js/main.js' %}"></script>
{% endblock  %}
{% block main %}
<main class="detail-user">
    <nav class="navigation">
        <div>
            <a href="{% url 'index' %}">Index</a><span>/</span><a href="{% url 'DetailUser' user.id%}">{{user.username}}</a>
        </div>
    </nav>
    <section>
        <aside class="user-detail-card">
            {% if avatar%}
                <img src="{{avatar.perfil_image.url}}" alt="">
            {% else %}
                <img src="{% static 'sources/images/perfil_image-_predeterm.webp'%}" alt="">
            {% endif %}
                <div>
                    <a href="{% url 'DetailUser' user.id%}">{{user.username}}</a>
                </div>
            {% if avatar %}
                <p>{{avatar.perfil_description}}</p>
            {% endif %}
                <a href="{% url 'DetailUser' user.id%}">{{user.username}}</a>
            </aside>
            <div>
                <a href="{% url 'upload post' %}">
                    <button><span>+</span>Subir un post</button>
                </a>
                {% for post in posts %}
                    <article class="Tcard">
                        <img src="{{post.image.url}}" alt="">
                        <div>
                            <strong>{{post.title}}</strong>
                            <p>
                                {{post.description}}
                            </p>
                            {% if user.id != request.user.id %}
                                <p>
                                    <span>By: </span><a href="">{{post.user}}</a>
                                </p>
                            {% endif %}
                        </div>
                        <button>
                            <a href="{% url 'DetailPost' post.id %}">Leer articulo</a> 
                        </button>
                        {% if user.id == request.user.id %}
                            <button>
                                <a href="{% url 'DeletePost' post.id %}">Eliminar</a> 
                            </button>
                            <button>
                                <a href="{% url 'EditPost' post.id %}">Editar</a> 
                            </button>
                        {% endif %}
                    </article>
                {% endfor %}
            </div>
    </section>
</main>



{% endblock  %}