{% extends 'main.html' %}
{% load static %}
{% block title %}Home - Tomasteawita{% endblock  %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script defer src="{% static 'js/main.js' %}"></script>
{% endblock  %}
{% block main %}
<main class="detailPost">
    <section>
        <img src="{{post.image.url}}" alt="">
    </section>
    <section>
        <aside class="user-detail-card">
        {% if avatar%}
            <img src="{{avatar.perfil_image.url}}" alt="">
        {% else %}
            <img src="{% static 'sources/images/perfil_image-_predeterm.webp'%}" alt="">
        {% endif %}
            <div>
                <a href="{% url 'DetailUser' post.user.id%}">{{post.user.username}}</a>
            </div>
        {% if avatar %}
            <p>{{avatar.perfil_description}}</p>
        {% endif %}
            <a href="{% url 'DetailUser' post.user.id%}">{{post.user.username}}</a>
        </aside> 
        <article>
            <h1>{{post.description}}</h1>
            <p>{{post.text}}</p>
            <nav>
                <span>By:</span><a href="{% url 'DetailUser' post.user.id%}"><span>Ver publicaciones de</span>{{post.user.username}} </a> 
            </nav>
        </article>
    </section>
    <section class="form-coments">
        <h2>Escribir un comentario</h2>
        <form method="post"> {% csrf_token %}
            <ul>
                {{form.as_ul}}
            </ul>
            <button type="submit">
                Comentar
            </button>
        </form>
        <article>
            {% if coments %}
                {% for coment in coments %}
                    <div>
                        {{coment.text}}
                        <nav>
                            <span>De</span><a href="{% url 'DetailUser' coment.user.id%}">{{coment.user.username}}</a>
                        </nav>
                </div>
                {% endfor %}    
            {% else %}
            <strong>No hay comentarios</strong>
            {% endif %}
        </article>
    </section>

</main>
{% endblock  %}