{% extends 'main.html' %}
{% load static %}
{% block title %}Home - Tomasteawita{% endblock  %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script defer src="{% static 'js/main.js' %}"></script>
{% endblock  %}
{% block main %}
    <main class="index">
        <div class="loader-page">
            <img src="{% static 'sources/logos/LogoMainBlue.svg' %}" alt="CuevaTomasArg">
        </div>
        <section class="presentation">
            <div>
                <img src="{% static 'sources/images/presentacion.jpg'%}" alt="">
              </div>
              <div>
                <h1>Tomasteawita_Code</h1>
                <p>Codiemos menos y cobremos más ;)</p>
              </div>
        </section>
        <section class="search">
            <h2></h2>
            <form action="" method="get">

            </form>
        </section>
        {% if object_list %}
        <section class="view-post">    
                {% for post in object_list %}
                        <article class="Tcard">
                            <img src="{{post.image.url}}" alt="">
                            <div>
                                <strong>{{post.title}}</strong>
                                <p>
                                    {{post.description}}
                                </p>
                                <p>
                                    <span>By: </span><a href="">{{post.user}}</a>
                                </p>
                            </div>
                            <button>
                                <a href="{% url 'DetailPost' post.id %}">Leer articulo</a> 
                            </button>
                            <button>
                                <a href="{% url 'DeletePost' post.id %}">Eliminar</a> 
                            </button>
                            <button>
                                <a href="{% url 'EditPost' post.id %}">Editar</a> 
                            </button>
                        </article>
                    {% endfor %}
                </section>
                    {% else %}
                    <section style="text-align: center;">
                        <p style="margin:32px auto; width:100%; text-align: center;">No hay posteos hechos por los usuarios</p>
                    </section>      
            {% endif %}
            
    </main>
{% endblock  %}